.keypad .row {
  display: flex;
  justify-content: center;
}

.keypad button {
  padding: 10px;
  margin: 3px;
  font-size: 20pt;
  text-transform: uppercase;
  min-width: 50px;
}


@media screen and (min-width: 300px) {
  .keypad button {
    font-size: 10pt;
    margin: 3px;
    padding: 2px;
    min-width: 22px;
  }
}

@media screen and (min-width: 400px) {
  .keypad button {
    font-size: 16pt;
    margin: 3px;
    padding: 2px;
    min-width:28px;
  }
}

@media screen and (min-width: 900px) {
  .keypad button {
    font-size: 20pt;
    padding: 10px;
    margin: 3px;
    min-width: 50px;
  }
}