.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1em;
  }
}
@media screen and (min-width: 481px) {
  .keypad {
    max-width: 1em;
  }
}

@media screen and (min-width: 500px) {
  .keypad {
    max-width: 2em;
  }
}
